DriveWorks.Integration.WebPush/Connected Services/DriveWorksSpecificationAutomation/SpecificationAutomation1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DriveWorks.Applications.Autopilot.Connectors.Http" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DriveWorks.Applications.Autopilot.Connectors.Http" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8901/SpecificationAutomation?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DriveWorks.Applications.Autopilot.Connectors" />
  <xs:complexType name="CreateSpecificationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="SpecificationName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DriveWorks.Applications.Autopilot.Connectors" minOccurs="0" name="Status" type="q1:SpecificationRequestResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateSpecificationResult" nillable="true" type="tns:CreateSpecificationResult" />
</xs:schema>