DriveWorks.Integration.WebPush/Connected Services/DriveWorksSpecificationAutomation/SpecificationAutomation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:8901/SpecificationAutomation?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:8901/SpecificationAutomation?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8901/SpecificationAutomation?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8901/SpecificationAutomation?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DriveWorks.Applications.Autopilot.Connectors.Http" />
      <xsd:import schemaLocation="http://localhost:8901/SpecificationAutomation?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DriveWorks.Applications.Autopilot.Connectors" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHttpConnectorService_CreateSpecification_InputMessage">
    <wsdl:part name="parameters" element="CreateSpecification" />
  </wsdl:message>
  <wsdl:message name="IHttpConnectorService_CreateSpecification_OutputMessage">
    <wsdl:part name="parameters" element="CreateSpecificationResponse" />
  </wsdl:message>
  <wsdl:message name="IHttpConnectorService_EditSpecification_InputMessage">
    <wsdl:part name="parameters" element="EditSpecification" />
  </wsdl:message>
  <wsdl:message name="IHttpConnectorService_EditSpecification_OutputMessage">
    <wsdl:part name="parameters" element="EditSpecificationResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="IHttpConnectorService">
    <wsdl:operation name="CreateSpecification">
      <wsdl:input wsam:Action="urn:IHttpConnectorService/CreateSpecification" message="IHttpConnectorService_CreateSpecification_InputMessage" />
      <wsdl:output wsam:Action="urn:IHttpConnectorService/CreateSpecificationResponse" message="IHttpConnectorService_CreateSpecification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditSpecification">
      <wsdl:input wsam:Action="urn:IHttpConnectorService/EditSpecification" message="IHttpConnectorService_EditSpecification_InputMessage" />
      <wsdl:output wsam:Action="urn:IHttpConnectorService/EditSpecificationResponse" message="IHttpConnectorService_EditSpecification_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>