DriveWorks.Integration.WebPush/Connected Services/DriveWorksSpecificationAutomation/SpecificationAutomation4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8901/SpecificationAutomation?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8901/SpecificationAutomation?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DriveWorks.Applications.Autopilot.Connectors.Http" />
  <xs:element name="CreateSpecification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transitionName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="values" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSpecificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DriveWorks.Applications.Autopilot.Connectors.Http" minOccurs="0" name="CreateSpecificationResult" nillable="true" type="q2:CreateSpecificationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSpecification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transitionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specificationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specificationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="operationName" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="values" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSpecificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DriveWorks.Applications.Autopilot.Connectors.Http" minOccurs="0" name="EditSpecificationResult" nillable="true" type="q4:CreateSpecificationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>